.graphdiv{
    width:50%;
    height: 60%;
    margin-top: 50px;
}

.graphdiv h2{
    font-family: "Lato";
    margin-bottom: 50px;
}

.reviewwrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    border:2px solid black;
    display: flex;
    justify-content: center;
    gap:10px;
    background: rgba( 182, 243, 240, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.mainreviewdiv{
width: 100%;
height: 100vh;
}

.reviewdiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.reviewdiv h1{
    margin-bottom: 20px;
    font-family:"Lato";
    margin-top: 40px;
    font-size: 25px;
}

.symbolwarp{
    display: flex;
    flex-direction: column;
}

.symboldiv{
    display: flex;
    align-items: center;
    gap:30px;
    margin-top: 20px;
}

.blackdiv{
    width: 100px;
    height: 15px;
    background: black;
}
 .symboldiv p{
    font-family: "DM Sans";
    font-size: 15px;
 }

.reddiv{
    width: 100px;
    height: 15px;
    background:red;
}

.reviewwrapdiv{
    width:90% ;
    min-height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background: rgb(190, 190, 244);
}

.score5{
    background: rgb(179, 249, 179);
}

.score2{
 background: rgb(246, 179, 179);
}
.user{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user p{
    font-family: "Satisfy";
}

.reviewp{
    font-family: "Raleway";
}