.head{
    margin-top: 125px;
    text-align: center;
    font-size: 60px;
}
.aboutbody{
    background-image: linear-gradient(rgba(255,255,255,1), rgba(182,216,255,1),rgba(255,255,255,1));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutcontent{
    text-align: center;
    padding-left: 225px;
    padding-right: 225px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 200px;
    color: #125d95;
}
.founders{
    margin-top: 125px;
    text-align: center;
    font-size: 60px;
}
.founderdiv{
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    gap:10%;
    flex-wrap: wrap;
}
.card{
    display: flex;
    margin-bottom: 50px;
    width: 400px;
}
.founderdetails{
    margin-top: 60px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.founderpic{
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.name{
    font-size: x-large;
    font-weight: bold;
}
.designation{
    color: #0753ab;
    font-weight: normal;
    font-size: medium;
}
