.selectedbg{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(243, 239, 239);
}

.selctedinnerbg{
   width: 80%;
   min-height: 100vh;
   background:white;
   border-radius: 25px;
   padding: 5%;
}

.topbar{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.backofselected{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 40px;
    border:solid 1px rgb(189, 186, 186);
    border-radius: 5px;
    gap:5%;
    font-size: 12px;
}

.backofselected p{
    flex:1;
    font-family: "Raleway";
}

.backofselected img{
    width: 35px;
    height: 35px;
    rotate: 180;
}

.icondivselcted img{
    width: 25px;
    height: 25px;
}

.icondivselcted{
    display: flex;
    gap:20px;
}

.imageselectwrap{
    display:flex;
    gap:10px;
}

.leftselectedimg{
    width:60%;
    height: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rightselectedimg{
    display:flex;
    gap:1%;
    flex-wrap: wrap;
    width: 40%;
    height: 500px;
}

.rightselectedimg img:nth-child(2){
    border-top-right-radius: 20px;
}
.rightselectedimg img:nth-child(4){
    border-bottom-right-radius: 20px;
}

.inimage{
    width: 49%;
    height: 245px;
}

.hostelnamediv{
margin-top: 20px;
display: flex;
}

.nameselected{
    flex: 1;
}

.nameselected h2{
font-family: "Lato";
font-size: 27px;
}

.addresswarp{
    display: flex;
    gap:10px;
}

.addresswarp div{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-right: solid 1px rgb(162, 161, 161);
    padding-right: 10px;
}

.addresswarp div img{
    width: 18px;
    height: 18px;
}

.addresswarp div p{
    font-family: "Raleway";
    font-size: 12px;
}

.priceofselected h2{
 font-family: "PT Serif";
 font-size: 23px;
}

.priceofselected div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:5px;
}

.priceofselected div p{
    font-size: 13px;
    color: rgb(99, 123, 125);
}

.priceofselected button{
    width: 200px;
    height: 40px;
    font-family: "Raleway";
    border-radius: 10px;
    background:skyblue;
    border: none;
    margin-top: 10px;
}

.selectedbutton{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.selectedbutton div{
    width: 200px;
    height: 40px;
    border:solid 1px black;
    font-family: "Raleway";
    font-size: 12px;
    margin-top: 10px;
    border-radius: 10px;
    color:black;
}


.selectedbutton div h3{
    text-align: center;
    width: 200px;
    font-family: "Lato";
    font-weight: 400;
    color: rgb(40, 159, 206);
}

/* Amentities Style */

.amentiesmainwarp{
    display:flex;
    width:100%;
    gap:30%;
}

.amentieswrap{
width: 45%;
}

.amentieswrapp{
font-family: "Raleway";
margin-top: 20px;
font-size: 20px;
font-weight: 400;
}

.displayamenties{
    display:flex;
    gap: 30px 80px;
    flex-wrap: wrap;
    margin-top:20px;
}

.displayamenties div{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.displayamenties img{
    width:20px;
    height: 20px;
}

.displayamenties p{
    font-size: 12px;
    font-family: "Raleway";
    color: rgb(8, 7, 72);
}

.locationwrap{
    display:flex;
    gap:20px;
    flex-direction: column;
}


.locationwrap div img{
    width:20px;
    height: 20px;
}

.locationwrap div p{
    font-family: "Raleway";
    font-size: 12px;
}

.wrapnear{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap:20px 100px;
}

.wrapnear div{
    display: flex;
    gap:5px
}

/* Policy Wrap */

.policywrap{
    display:flex;
    width: 100%;
    margin-top: 30px;
    gap:15px;
}

.policywrapindiv{
    width: 60%;
}

.policywrapindiv h3{
 font-family: "Raleway";
 font-size: 20px;
}

.policywrapindiv h5{
    font-size: 13px;
    font-family: "Raleway";
    font-weight: 500;
    margin-bottom: 20px;
}

.policydiv{
    width: 90%;
    height: 30px;
    background: rgb(210, 232, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    font-family: "Raleway";
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.policydivwhite{
    width: 90%;
    height: 30px;
    background: rgb(5, 55, 74);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    font-family: "Raleway";
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}

.similarhostelh3{
font-family: "Raleway";
font-size: 20px;
margin-bottom: 30px;
}

.similardiv{
    display: flex;
    gap:20px;
    width: 120%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(233, 248, 255);
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 10px 10px 14px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px -9px rgba(0,0,0,0.75);
box-shadow: 10px 10px 14px -9px rgba(0,0,0,0.75);
margin-bottom: 10px;
}

.similardiv img{
    width: 150px;
    height: 60px;
}

.similardiv h3{
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 600;
}

.similardiv div{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.similardiv div p{
    font-family: "Raleway";
    font-size: 12px
}