.container{
  background-color: #f5f6fa;
  width: 100%;
  height: auto;
  background: white;
}

.pocket{
  color: black;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;

}
.navabout,.navcontact{
  color: black;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
  transition: .3s;
  border-radius: 5px;
}
.navabout:hover,.navcontact:hover{
  background-color: #8CD4F9;
  cursor: pointer;
}
.regbtn{
  margin-left: 150px;
  background-color: #0753ab;
  margin-top: 15px;
  border: none;
  color: white;
  width: 200px;
  height: 40px;
  font-size: medium;
  border-radius: 10px;
  font-weight:normal;
}
.regbtn:hover{
  background-color: #043266;
}
.main{
  height:100vh;
  width: 100%;
  background:linear-gradient(
    rgba(5, 5, 5, 0.928),
    rgba(42, 40, 40, 0)
  ), url("https://images.unsplash.com/photo-1611892440504-42a792e24d32?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 10px;
}

.mainsubhead{
  position: absolute;
  top:400px;
  left:50%;
  transform: translate(-50%,-50%);
  color:rgb(208, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.mainsubhead p{
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.mainsubhead h1{
  font-family: "Satisfy";
  font-size: 100px;
  background: -webkit-linear-gradient(#ffffff, #95cfe1fe);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.rounddiv{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:white;
}

.rounddivwrap{
  display: flex;
  gap:5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.eb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  border-radius: 50px;
  background: rgb(2,0,36);
  background: linear-gradient(100deg, rgb(144, 142, 187) 0%, rgb(221, 244, 247) 0%, rgb(186, 252, 255) 9%, rgb(160, 208, 247) 64%); 
  padding: 20px;
  color: black;
  gap:10px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}


.eb img{
  width: 25px;
  height:25px;
}

.eb p{
  flex: 1;
  text-align: start;
  font-family: "Questrial";
  font-weight: 600;
}

.totalcities{
  text-align: center;
  margin-top: 75px;
  font-size: 25px;
  font-family: "PT serif";
}
.citiescontainer1{
  display: flex;
  margin-top: 75px;
  width: 100%;
}
.citiescontainer2{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-left: 166px;
  padding-right: 166px;
  width: 100%;
}
.ftimage1{
  object-fit: cover;
  width: 60%;
  height: 180px;
  border-radius: 15px 15px 0px 0px;
}
.ftimage2{
  object-fit: cover;
  width: 90%;
  height: 180px;
  border-radius: 15px 15px 0px 0px;
}
.locality{
  font-weight: 600;
  padding: 10px;
  padding-left: 5px;
  background-color: rgb(237, 252, 253);
  border-radius: 20px;
  font-family: "Questrial";
  width: 60%;
}
.card{
  display: flex;
  flex-direction: column;
  transition: .5s;
  width: 40%;
  align-items: center;
}
.card:hover{
  transform: scale(1.1);
}
.aboutus{
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 10px;
}
.aboutcontainer{
  height: 417px;
  padding-left: 167px;
  padding-right: 167px;
  background-image: url(https://img.freepik.com/premium-vector/morning-city-skyline-silhouette-flat-style-modern-urban-landscape_608442-209.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=ais);
  background-size: cover;
  padding-bottom: 100px;
}
.aboutusdata{
  margin-top: 50px;
  margin-bottom: 10px;
}
.footer{
  height: 185px;
  background-color: #0753ab;
  color: white;
  font-weight: 300;
  font-size: small;
}
.foot1{
  padding-top: 35px;
  display: flex;
  padding-bottom: 20px;
}
.footerleft{
  padding-left: 65px;
  padding-right: 85px;
  width: 50%;

}
.footerright{
  width: 50%;
  padding-left: 275px;
}
.footerbottom{
  padding-top: 15px;
  margin-top: 4px;
  text-align: center;
  background-color: #043266;
  padding-bottom: 15px;
}
.places{
  display: flex;
  flex-direction: row;
}
.locations{
  padding-right: 20px;
}

/* Edited By Ferno */

.headdiv{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  position: sticky;
  top:0px;
  z-index: 2;
  background-color: white;
}

.logoutdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px
}

.logoutdiv p {
  font-family: "Satisfy";
  font-size: 18px;
}

.headdiv p {
  margin-left: 10px;
}

.logoimage{
  width: 140px;
  height: 100px;
}

.linkdiv{
  display: flex;
  gap:30px;
  margin-right: 10px;
}

.linkdiv button{
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,71,164,1) 0%, rgba(110,155,235,1) 100%); 
  cursor: pointer;
  border: none;
  color: white;
  font-family: "Raleway";
  font-size: 12px;
  transition: .7s;
}

.linkdiv button:hover{
  scale: 1.1;
}

.linksdiv{
  position: absolute;
  top: 100px;
  right: 30px;
  color: white;
}

.linksdiv ul{
  display: flex;
  gap:100px;
  list-style: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
}

.explorebutton{
  width: 250px;
  height: 50px;
  margin-top: 20px;
  margin-left: 150px;
  border-radius: 5px;
  background: #034279;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: white;
}