/* homepageimage styles */

.homepageimagediv {
  background: linear-gradient(rgba(35, 34, 34, 0.87), rgba(18, 17, 17, 0.152)),
    url("https://images.unsplash.com/photo-1615874959474-d609969a20ed?q=80&w=2360&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100%;
  height: 700px;
  background-position: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homepageimagediv :nth-child(1) {
  max-width: 500px;
}

.homepageimagediv h1 {
  font-size: 45px;
  color: white;
  font-family: "DM sans";
}
.glassdiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(6, 24, 32, 0.358);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 400px;
  padding: 20px;
  margin-top: 120px;
}

.glassdivp {
  text-align: center;
  color: white;
  font-family: "Railway";
  font-size: 25px;
  margin-bottom: 20px;
}

.glassdiv div {
  display: flex;
  gap: 20px;
}

.glassdiv img {
  width: 30%;
  height: 200px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 15px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px -8px rgba(0, 0, 0, 0.75);
}

.glassdiv p {
  text-align: center;
  margin-top: 20px;
  width: 75%;
  color: rgb(255, 255, 255);
  font-family: "Questrial";
}

.imagesinglassdiv{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* homepageintialdata styles */

.homepageinitialdatawrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.homepageinitialdatawrap h4 {
  margin: 80px 0px 30px 0px;
  font-size: 25px;
  font-family: "Raleway";
  font-weight: 500;
  
}

.locationcard {
  border: solid 1px rgb(151, 143, 143);
  width: 400px;
  height: 300px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 7px 13px 17px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 13px 17px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 13px 17px -14px rgba(0, 0, 0, 0.75);
}

.locationcard img {
  width: 380px;
  height: 200px;
  border-radius: 10px;
}

.locationwrap{
  display: flex;
  gap:20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.locationtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
}

.locationtext img {
  width: 30px;
  height: 30px;
}

.locationtext :nth-child(1) {
  margin-top: 10px;
  display: flex;
}

.locationtext p {
  font-size: 12px;
  font-family: "Raleway";
}

/* Search Option div Styles */

.searchfilterdiv {
  display: flex;
  gap: 10%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchfilterdiv div {
  width: 300px;
  height: 40px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #3d457b 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
  font-family: "Questrial";
}

/* Map styling css */

.mapdiv {
  width: 100%;
  height: 84vh;
  margin-top: 80px;
}

.mapdatadiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  flex-direction: column;
  border-radius: 10%;
}

.mapdatadiv img{
  width: 140px;
  height: 70px;
  border-radius: 10px;
}

.datainmap{
  position: absolute;
  bottom:50px;
  left:75%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 80px;
  border-radius: 10px;
  background: white;
  transition: all 1s ease;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.popoffdiv{
  opacity: 0;
  transform: scale(.5);
  visibility: hidden;
}

.extraservicediv{
  border-radius: 40px;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  background: rgb(235, 247, 247);
  -webkit-box-shadow: 10px 10px 14px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px -13px rgba(0,0,0,0.75);
box-shadow: 10px 10px 14px -13px rgba(0,0,0,0.75);
padding: 10px;
font-family:"Satisfy" ;
}

.extraservicediv img{
  width: 10px;
  height: 10px;

}

/* Map Popup div style */
 .popupwrap{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 17%;
  height: 40px;
  border-radius: 10px;
  gap:10px;
  background: rgb(235, 247, 247);
  -webkit-box-shadow: 10px 10px 14px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px -13px rgba(0,0,0,0.75);
box-shadow: 10px 10px 14px -13px rgba(0,0,0,0.75);
 }

 .popupwrap img{
  width: 30px;
  height: 30px;
 }

 .popupwrap p{
  font-family: "Questrial";
  font-size: 13px;
 }

 .star{
  width: 15px;
  height: 15px;
 }

 .ratingdivinmap{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap:5px;
  font-family: "Lato";
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background: rgb(235, 247, 247);
  -webkit-box-shadow: 10px 10px 14px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px -13px rgba(0,0,0,0.75);
box-shadow: 10px 10px 14px -13px rgba(0,0,0,0.75);
font-size: 10px;
 }


/* Searchbylocation Styles */

.searchbylocationdiv {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.623);
}

.searchdivwrap {
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchdivwrap input{
width: 350px;
height: 40px;
border-radius: 5px;
background: white;
margin-top: 50px;
font-family: "Questrial";
padding: 10px;
margin-bottom: 30px;
}

.blocker{
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.locationdatadiv div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 35px;
  padding: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(144,242,255,1) 0%, rgba(129,240,245,1) 28%, rgba(80,171,246,1) 100%); 
  gap:10px;
  font-size: 14px;
  color: rgb(51, 54, 54);
  margin-bottom: 5px;
  border-radius: 5px;
}

.locationdatadiv img{
  width: 15px;
  height: 15px;
}

/* Homepage styles after Initial run */

.homediv {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.homeleftdiv {
  width: 50%;
}

.rightmapdiv {
  width: 50%;
}

/* Display hostels page styles */

.unable{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(94, 2, 2, 0.549);
  border-radius: 10px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.unable h2{
  font-size: 25px;
  font-family: "Satisfy";
  text-align: center;
  color:rgb(244, 238, 238);
}

.displayhosteldivwrap{
  width: 100%;
  max-height: 800px;
  padding: 10px 40px 40px 40px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 50px;
}

.displayhosteldivwrap h4{
font-size: 17px;
font-family: "Questrial";

}

.hostelcardwarp{
  display:flex;
  flex-wrap: wrap;
  gap:20px 2%;
  width: 100%;
  border-radius: 10px;
  margin-top: 40px;
}

.hostelcardwarp h1{
  text-align: center;
  width: 100%;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
}

.sorrydiv{
  position: fixed;
  top:50%;
  left:25%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sorrydiv p{
  font-size: 17px;
  font-family: "Satisfy";
}

.sorrydiv img{
  width: 200px;
  height: 200px;
}

.hostelcard{
  position: relative;
  width:49%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
    background: rgb(255, 255, 255);
background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(248, 247, 247) 0%, rgb(230, 244, 255) 100%); 
}

.hostelimage{
  width: 95%;
  height: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 13px 12px -3px rgba(0,0,0,0.21);
-moz-box-shadow: 7px 13px 12px -3px rgba(0,0,0,0.21);
box-shadow: 7px 13px 12px -3px rgba(0,0,0,0.21);
}

.hostelcardcontent{
  width: 380px;
  margin-top: 20px;
}

.hostelcardcontent h3{
  font-family: "Lato";
  font-weight: 600;
}

.hostelcardcontent div{
  display: flex;
  gap:10px;
  margin-top: 10px;
}

.hostelcardcontent img{
  width: 15px;
  height: 15px;
}

.hostelcardcontent p{
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  color: rgb(59, 58, 58);
}

.hostelcardname{
  display:flex;
  justify-content: space-between;
  align-items: center; 
}

.hostelcardname p{
  background: rgb(174, 251, 247);
  padding:10px;
  border-radius: 5px;
}

.hostelcardamount{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.hostelcardamount div{
  display:flex;
  justify-content: center;
  align-items: center;
}

.hostelcardamount img{
  width:20px;
  height: 20px;
}

/* Filtering and Sort Button Styles */

.sortwrap{
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap:10%;
  margin-top: 30px;
}

.sortwrap button{
  width: 200px;
  height: 40px;
  background-color:#aae8f5;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.11) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(64, 133, 150, 0.2);
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Satisfy";
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  color:rgb(12, 12, 12);
}

.cleardiv{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Satisfy";
  transition: s ease-in-out;
}

.color{
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.searchfilterdiv div:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.searchfilterdiv div:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.sortwrap button:focus {
  box-shadow: #000106 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.sortwrap button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #bde5f4 0 -3px 0 inset;
  transform: translateY(-2px);
}

/* Search By Name div Style */

.wrapofname{
  width: 100%;
  height: 100vh;
  background:rgba(0, 0, 0, 0.551);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapofnamediv{
  width: 500px;
  height: 300px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15.5px );
-webkit-backdrop-filter: blur( 15.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 30px;
color: white;
display: flex;
align-items: center;
flex-direction: column;
}

.wrapofnamediv h3{
  text-align: center;
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
}

.wrapofnamediv p{
  font-family: "Satisfy";
}

.wrapofnamediv input{
  width: 100%;
  height: 50px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Lato";
  border: none;
}


.wrapofnamediv button{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-top: 30px;
  background: black;
  border: none;
  color: white;
}

.closename{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
}


/* Styles of Sorating and Filtering */

.sortrent{
  z-index: 10;
  position: absolute;
  top:50%;
  transform: translate(-50%,-50%);
  width:400px;
  height: 280px;
  border-radius: 10px;
  background: rgba(172, 241, 249, 0.44);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
transition: .8s ease-in-out;
}

.open{
  left:25%;
}

.close{
  left:-25%
}

.sortrent h2{
  font-family: "Satisfy";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.sortrent button{
  width: 200px;
  height: 40px;
  font-family: "Raleway";
  border:none;
  margin-top: 20px;
  border-radius: 10px;
  background: rgb(15, 15, 85);
  color: white;
}

/* Styles of Filter div */

.filteroptionwrap{
  z-index: 10;
  position: absolute;
  top:55%;
  transform: translate(-50%,-50%);
  width:400px;
  height: 420px;
  border-radius: 10px;
  background: rgba(172, 241, 249, 0.44);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
transition: .8s ease-in-out;
padding-bottom: 20px;
}

.openfilter{
  left:24%
}

.closefilter{
  left:-25%;
}

.filteroptionwrap h2{
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
}

.filteroptionwrap p{
  font-family: "Lato";
  font-size: 15 px;
  margin-bottom: 20px;
}

.optiononewrap{
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border:solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  gap:30%;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.452);
}

.optiononewrap div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  font-family: "Satisfy";
}

.filteroptionwrap button{
  width: 200px;
  height: 40px;
  background: rgb(7, 38, 130);
  border-radius: 10px;
  margin-top: 20px;
  color: rgb(246, 246, 247);
  border: none;
}